{% extends 'base.html' %}

{%block title%} EDITORIALES {% endblock %}

{% block content %}

    <h1>Lista de Libros</h1>
    <a href="{{ url_for('libro.create') }}" class="btn btn-primary mb-3">Agregar Nuevo Libro</a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>ID Editorial</th>
                <th>Año Publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.id_libro }}</td>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.id_editorial }}</td>
                <td>{{ libro.anio_publicacion }}</td>
                <td>
                    <a href="{{ url_for('libro.edit', id_libro=libro.id_libro) }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ url_for('libro.delete', id_libro=libro.id_libro) }}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de eliminar este libro?')">Eliminar</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No hay libros registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
